/* =============
    hero2
============= */
#hero2{

    img{
        width: 100%;
    }

@include md{
    .images{
        #left{
            float: left;
            width: 50%;
         }
    
        #right{
            float: right;
            width: 50%;
        } 
    }
@include lg{
    .images{
        #left{
            float: left;
            width: 60%;
         }
    
        #right{
            float: right;
            width: 40%;
            } 
        }

    }
    }
}