/* =============
    hero2
============= */
#hero2{

    img{
        width: 100%;
    }

    #left{
        margin-top: 34px;
    }



@include md{
    .images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";
        
        #left{
            grid-area: left;
            width: 100%;
         }
    
        #right{
            grid-area: right;
            width: 100%;
            margin-top: 34px;
        } 
    }
@include lg{
    .images{
        display: grid;
        grid-template-columns: 16px repeat(2, 1fr) 16px;
        grid-template-areas: ". left right .";
        #left{
            width: 100%;
            grid-area: left;
         }
    
        #right{
            width: 100%;
            grid-area: right;
            } 
        }

    }
@include xl{

    #left{
        margin-left: 18px;
    }

    #right{
        margin-right: 18px;
    }

}


    }
}