/* =============
    search
============= */
#search{
    margin: 16px 0 16px 0; 

    div{
        #searchInput{
            form{
                input{
                    width: 100%;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 1px solid var(--grey);
                    border-radius: 0;
                    color: var(--grey);
                }


        


            }
        }
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--grey);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--grey);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: var(--grey);
      }


}